{% extends "base.html" %}

{% block main %}
        <h1>{{ title }}</h1>
            <p>
        {{ instructions }}
        <table border=1>
        <tr>
        <td>Reddit Username</td>
        <td>First Name</td>
        <td>Middle Name</td>
        <td>Last Name</td>
        <td>City</td>
        <td>State</td>
        <td>Postal Code</td>
        <td>Country</td>
        <td>Skills</td>
        <td>Bio</td>
        </tr>
        {% for i in users %}
        <tr>
        <td>{{i.nickname}}</td>
        <td>{{i.first_name}}</td>
        <td>{{i.middle_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.city}}</td>
        <td>{{i.state}}</td>
        <td>{{i.postal_code}}</td>
        <td>{{i.country}}</td>
        <td>{{i.skills}}</td>
        <td>{{i.bio}}</td>
        </tr>
        {% endfor %}
        </table>
        </p>
{% endblock %}
