<!DOCTYPE html>
<html>
    <head>
        <title>Reddit Unite!</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/style.css"
        />
    </head>
    <body>
        <div class="site-header">
            <h1 title="A Reddit Unite project"><a href="/">Connection Machine</a></h1>
            <h2 title="carlos AT projectbeyond.org">By indieinvader</h2>
        </div>
        <div class="main block">{% block main %}{% endblock %}</div>
        <div class="action block">
            <h1>Get Connected!</h1>
            <ul>
                <li>
                    <h1>Hey, {% if logged_in %}<a title="Your public profile" href="/user/{{ user.id }}">{{ user.nickname }}</a>{% else%}you{% endif %}!</h1>
                </li>
                {% if logged_in %}<li>
                    <a href="/user/profile">Edit profile</a>
                </li>
                <li>
                    <a href="/user/preferences">Preferences</a>
                </li>{% endif %}
                <li>
                    <a href="{{ log_in_out }}">{% if logged_in %}Log out{% else %}Log in/register{% endif %}</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h1>More Info</h1>
                </li>
                <li>Global Map</li>
                <li>Locales</li>
                <li>People in Your Area</li>
                <li>FAQ</li>
            </ul>
            <ul>
                <li>
                    <h1>More Reddit Unite:</h1>
                </li>
                <li>
                    <a href="http://www.reddit.com/r/unite">reddit</a>
                </li>
                <li>
                    <a href="http://unite-reddit.org/">home</a>
                </li>
                <li>
                    <a href="http://wiki.unite-reddit.org">wiki</a>
                </li>
                <li>
                    <a href="http://github.com/indieinvader/reddit-unite">GitHub</a>
                </li>
            </ul>
        </div>
        <ul class="footbar">
            <li>
                <h1>
                All data is private and will not be realeased without
                user consent.
                </h1>
            </li>
        </ul>
    </body>
</html>
