<!DOCTYPE html>
<html>
    <head profile="http://www.w3.org/2006/03/hcard">
        <title>The Connection Machine</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ site }}/static/css/style.css"
        />
    </head>
    <body>
        <div class="site-header">
            <h1 title="A Reddit Unite project"><a href="{{ site }}">Connection Machine</a></h1>
            <h2>By indieinvader and friends</h2>
        </div>
        <div class="main block">{% block main %}{% endblock %}
        </div>
        <div class="action block">
            <h1>Get Connected!</h1>
            <ul>
                <li>
                    <h1>Hey, {% if logged_in %}<a title="Your public profile" href="{{ site }}/user/{{ user.id }}">{{ user.nickname }}</a>{% else%}you{% endif %}!</h1>
                </li>{% if logged_in %}
                <li>
                    <a href="{{ site }}/user/profile">Edit profile</a>
                </li>
                <li>
                    <a href="{{ site }}/user/preferences">Preferences</a>
                </li>{% endif %}
                <li>
                    <a href="{{ log_in_out }}">{% if logged_in %}Log out{% else %}Log in/register{% endif %}</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h1>
                        <a href="{{ site }}/directory/">User Lists</a>
                    </h1>
                </li>
                <li>
                    <a href="{{ site }}/directory/global/">Show All Members</a>
                </li>
                <li>
                    <a href="{{ site }}/directory/local/">People in your area</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h1>Maps</h1>
                </li>
                <li>Coming soon</li>
            </ul>
            <ul>
                <li>
                    <h1>Meta</h1>
                </li>
                <li>
                    <a href="{{ site }}/faq/">FAQ</a>
                </li>
                <li>
                    <a href="{{ site }}/user/us/contact/">Contact Us</a>
                </li>
            </ul>
        </div>
        <ul class="footbar">
            <li>
                <h1>
                All data held by this service is private and will not be released to anyone without user consent.
                </h1>
            </li>
        </ul>
        <ul class="footbar">
            <li>
                <a href="http://unite-reddit.org/">Unite-Reddit.org</a>
            </li>
            <li>
                <a href="http://wiki.unite-reddit.org">Wiki</a>
            </li>
            <li>
                <a href="http://github.com/indieinvader/reddit-unite">GitHub</a>
            </li>
            <li>
                <a href="http://www.reddit.com/r/unite">/r/unite</a>
            </li>
        </ul>
        <script type="text/javascript">
        (function(b,c){function d(){var a=c.createElement("script"),e=c.getElementsByTagName("script")[0];a.type="text/javascript";a.async=true;a.src="{{ site }}/static/js/prog_e.js";e.parentNode.insertBefore(a,e)}return b.attachEvent?b.attachEvent("onload",d):b.addEventListener("load",d,false)})(window,document);
        </script>
    </body>
</html>
