{% extends "base.html" %}

{% block main %}
            <h1>Frequently Asked Questions</h1>
            <p>
            Some things sure do get asked an awful lot.
            </p>
            <dl>
                <dt id="q1">What is your policy on privacy?</dt>
                <dd>
                    <p>
                    We do not share anything with anyone unless you give
                    us your explicit permission to do so and we only
                    store information that you explicitly tell us to
                    store. Note, however that Google App Engine
                    <i>does</i> store IP Addresses and there isn't
                    anything we can do to change it.
                    </p>
                    <p>
                    The purpose of this site (if it wasn't obvious
                    enough) is to connect people, or better yet, to
                    provide an environment that that allows people to
                    become connected, a sort of reverse Craigslist.
                    An because of that we are forced to reveal your
                    email address in certain situations. (Specifically
                    when you send a message to another user.) In this
                    case <i>sending a message constitutes giving us your
                    permission to revel your email address.</i> If you
                    don't want the recipient to know your email address
                    don't send them a message!
                    </p>
                    <p>
                    To protect certain aspects of your privacy we serve
                    everything over
                    <a href="http://simple.wikipedia.org/wiki/Transport_Layer_Security">SSL</a>.
                    </p>
                </dd>
                <dt id="q2">What is Unite Reddit?</dt>
                <dd>
                    <p>
                    Unite Reddit is a collaborative effort to      
                    &#8220;do what real life communities have been
                    doing for centuries: pooling resources and skills to
                    help each other thrive.&#8221;
                    </p>
                    <p>
                    See the <a href="http://www.reddit.com/r/jobs/comments/druaj/">post</a>
                    that started everything.
                    </p>
                </dd>
                <dt id="q3">Where can I report problems?</dt>
                <dd>
                    <p>
                    The complete source for Connection Machine can be
                    found on <a href="https://github.com/indieinvader/reddit-unite">GitHub</a>
                    so you can file issues there. You can also send us a
                    message <a href="{{ site }}/us/contact/">here</a>.
                    </p>
                </dd>
                <dt id="q4">How does registration work?/Why do I log in via Google?</dt>
                <dd>
                    <p>
                    The Connection Machine currently requires a Google
                    Account for registration. Though we are planning to
                    allow users to log in via OpenID in the near future.
                    (This is, as soon as Google supports OpenID over SSL.)
                    </p>
                </dd>
                <dt id="q5">Where did you get my picture?</dt>
                <dd>
                    <p>
                    We use gravatar for the profile pics.
                    </p>
                </dd>
            </dl>
{% endblock %}
