{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block main %}
            <h1>{{ title }}</h1>
            <p>
            {{ instructions }}
            </p>{% if form %}
            <form method="POST" action="">
                <!-- WTForms FTW! -->
                <dl>{% for field in form %}
                    {{ render_field(field)|indent(20) }}
                {% endfor %}</dl>
                <button type="submit">Submit</button>
            </form>{% endif %}
{% endblock %}
