{% extends "base.html" %}

{% block main %}
            <h1>What is this about?</h1>
            <p>
            The Connection Machine is a tool designed to do one thing:
            connect people. It allows you to create a profile (that
            contains some basic biographical information) and requires
            <i>you</i> to give us permission to share the information
            you've given us.
            </p>
            <p>
            To register click Log in/Register on the right (or bottom
            if your screen is narrow) and log in via your Google Account.
            (sadly your only option at this point) After you've registered
            consider filling out your profile and adjusting your
            preferences (aka privacy settings).
            </p>
            <p>
            We don't have any Terms or Conditions of Service but please,
            be civil or we will be forced to unleash the Internet Hate
            Machine on you. (Sorry)
            </p>
            <p>
            If you want to know more read our <a href="{{ site }}/faq/">FAQ</a>
            or send us a <a href="{{ site }}/us/contact">message</a>. If you're
            interested in contributing to our project click the GitHub link
            below.
            </p>
{% endblock %}
