{% extends "base.html" %}

{% block main %}
            <h1>What is this about?</h1>
            <p>
            This is a Reddit Unite project meant to allow people in
            close geographical proximity to become aware of each other
            and eventually collaborate in various efforts. What is
            Reddit Unite, you ask? It is a collaborative effort to      
            &#8220;do what real life communities have been
            doing for centuries: pooling resources and skills to help
            each other thrive.&#8221;
            </p>
            <p>
            The Connection Machine currently requires a Google Account
            for registration. Though we are planning to allow users to
            log in via OpenID in the near future.
            </p>
            <p>
            This utility, by its very nature, collects personal
            information. However, your information is private to
            you <i>unless you give us your explicit permission to
            share it.</i> And to further strengthen your privacy all
            communication between your browser and this site is
            encrypted using industry-standard encryption techniques.
            </p>
            <p>
            After registration please give us permission to use your
            State and/or Country information so we can get a general
            idea of who lives where.
            </p>
            <p>
            <b>Disclaimer:</b> This is not a facebook/elance hybrid; it
            is a simple utility for exchanging contact information so
            partnerships can be formed and projects realized.
            </p>
{% endblock %}
