{% if plain_text %}
{{ message }}

---
FYI: Your privacy has *not* been comprimised:
The sender will not find out your email address unless you respond to this message.
Respond Anonymously: {{ site }}/user/{{ sender }}/contact/
{% else %}
<html>
{{ message }}
{% markdown %}

---
FYI: Your privacy has *not* been comprimised:

The sender will not find out your email address unless you respond to this message.

[Respond Anonymously!]({{ site }}/user/{{ sender }}/contact/)
{% endmarkdown %}
</html>
{% endif %}
