{% extends "base.html" %}
{% from "_listing_helpers.html" import check_for %}

{% block main %}
            <h1>{{ info.nickname }}'s Profile</h1>
            <div class="vcard">
                <img src="{{ user.gravatar }}" width="150" height="150" />
                <p>{% filter indent(20) %}{% filter wordwrap() %}
Hi, my name is <span class="fn n">{%- if info.first_name -%}
<span class="given-name">{{ info.first_name|title }} </span>{%- endif -%}{%- if info.middle_name -%}
<span class="additional-name">{{ info.middle_name|title }} </span>{%- endif -%}{%- if info.last_name -%}
<span class="family-name">{{ info.last_name|title }}</span>{%- else -%}(Undisclosed){%- endif -%}
</span>, but you can call me {{ info.nickname }}. I live in {% if info.city %} {{ info.city }},{% endif %} {{ check_for(info.state) }}. My skills and/or autobiography may or may not be listed below.
                {% endfilter %}{% endfilter %}</p>
                </ul>
                <h1>Skills</h1>
                <ul>{% if skills %}{% for skill in skills %}
                    <li>{{ skill }}</li>
                {% endfor %}{% else %}
                    <li>None or undisclosed?</li>{% endif %}
                </ul>
                {% if info.bio %}<div class="note">
                    <h1>Bio</h1>
                    {% filter indent(20) %}{% filter wordwrap() %}{% markdown %}
{{ info.bio }}
{% endmarkdown %}{% endfilter %}{% endfilter %}
                </div>{% endif %}
            </div>{% endblock %}
