{% extends "base.html" %}
{% from "_listing_helpers.html" import check_for %}

{% block main %}
            <div class="vcard">
                <h1 class="fn n">{% if info.first_name %}
                    <span class="given-name">{{ info.first_name|title }} </span>{% endif %}{% if info.middle_name %}
                    <span class="additional-name">{{ info.middle_name|title }} </span>{% endif %}{% if info.last_name %}
                    <span class="family-name">{{ info.last_name|title }} </span>{% endif %}
                    (<span class="nickname">{{ info.nickname }}</span>)
                </h1>
                <p class="label">{% if info.city %}{{ info.city }}, {% endif %}{{ check_for(info.state)|title }} {{ check_for(info.postal_code) }} {{ check_for(info.country) }}
                </p>
                {% if info.bio %}<p class="note">
                {{ info.bio|indent(8) }}
                </p>{% endif %}
            </div>
        {% endblock %}
