{% extends "base.html" %}
{% from "_listing_helpers.html" import h_if_none %}

{% block main %}
            <h1>{{ title }}</h1>
            <p>
            {{ instructions }}
            </p>
            <table>{% if list_list %}
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Scope</th>
                    </tr>
                </thead>
                <tbody>{% for li in list_list|sort %}
                    <tr>
                        <td><a href="{{ site }}/directory/{{ li.name }}/">{{ li.name|title }}</a></td>
                        <td>{{ h_if_none(li.scope) }}</td>
                    </tr>
                {% endfor %}</tbody>{% else %}
                <thead>
                    <tr>
                        <th title="Probably == their Reddit username">Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>State</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>{% for i in users %}
                    <tr class="vcard">
                        <td><a href="{{ site }}/user/{{ i.id }}">{{ h_if_none(i.nickname) }}</a></td>
                        <td>{{ h_if_none(i.first_name) }}</td>
                        <td>{{ h_if_none(i.last_name) }}</td>
                        <td>{{ h_if_none(i.state) }}</td>
                        <td>{{ h_if_none(i.country) }}</td>
                    </tr>
                {% endfor %}</tbody>{% endif %}
            </table>{% endblock %}
